.calendar {
  --main-bg-color: #fafafa;
  --main-text-color: #18181b;
  --sunday-color: #dc2626;
  --saturday-color: #2563eb;
  --others-color: #71717a;
  --hover-bg-color: #e4e4e7;
  --hover-text-color: #09090b;
  --selected-bg-color: #e4e4e7;
  --selected-text-color: #09090b;
  --icons-color: #a1a1aa;

  width: 100%;
  height: 100%;
  user-select: none;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.calendar button {
  border-radius: 0px;
  font-weight: 300;
}

/* Navigation */
.navigation {
  width: 100%;
  height: 42px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.navigation button {
  width: 40px;
  height: 100%;
  border: none;
  cursor: pointer;
  transition: all 0.1s;
  flex-shrink: 0;
  color: var(--icons-color);
}
.navigation button.indicator {
  flex-grow: 1;
  font-weight: 300;
  color: var(--main-text-color);
}
.navigation button:hover {
  background-color: var(--hover-bg-color);
}

/* Day */
.day {
  width: 100%;
  height: 32px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font-size: 11px;
  font-weight: 600;
}
.day span {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Table */
.table {
  width: 100%;
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
}
.table button {
  width: 100%;
  height: 100%;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
}
.table button:hover {
  background-color: var(--hover-bg-color);
  color: var(--hover-text-color);
}
.table button[data-status='current'][data-weekday='sunday'] > span {
  color: var(--sunday-color);
}
.table button[data-status='current'][data-weekday='saturday'] > span {
  color: var(--saturday-color);
}
.table button[data-status='current'][data-today='true'] > span {
  text-decoration: underline;
}
.table button[data-status='prev'],
.table button[data-status='next'] {
  color: var(--others-color);
}
.table button[data-selected='true'] {
  background-color: var(--selected-bg-color);
  color: var(--hover-text-color);
}
.table button .label {
  display: flex;
  justify-content: center;
  align-items: center;
}
